In [11]:
#show the first 5 line of tsv file

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')
print(df.head(5))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [12]:
#find the number of row and column of this file

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')
rows = len(df.axes[0])
cols = len(df.axes[1])

print(rows)
print(cols)

3312
6

In [13]:
#print the name of the columns

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

for x in df.columns:
    print(x)

country
continent
year
lifeExp
pop
gdpPercap

In [27]:
#what is the type of the column name

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [15]:
#get the country column and save it to its own variable. show the first 5 observations.

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df.loc[:, 'country']
print(y.head(5))

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [17]:
#show the last 5 observations of this column

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df.loc[:, 'country']
print(y.tail(5))

3307    Zimbabwe
3308    Zimbabwe
3309    Zimbabwe
3310    Zimbabwe
3311    Zimbabwe
Name: country, dtype: object

In [19]:
#look at country, cotinent and year. show the first 5 observvation of these columns, and the last 5 observations 

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df[['country', 'continent','year']]

print(y.tail(5))
print()
print(y.head(5))

       country continent  year
3307  Zimbabwe    Africa  1987
3308  Zimbabwe    Africa  1992
3309  Zimbabwe    Africa  1997
3310  Zimbabwe    Africa  2002
3311  Zimbabwe    Africa  2007

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [30]:
#8 try to get the first column by using a integer index. and get the first and last column by passing the integer index. print
# the first 5 observation

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df.iloc[:, 0]
print(y.head(5))

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [35]:
#9 how to get the first row of tsv file? how to get the 100th row

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df.iloc[0:99, 0]
print(y.head(5))

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [36]:
#10 how to get the last row? try with index -1? correct ?

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

y = df.iloc[:, -1]
print(y.head(5))

0    779.445314
1    820.853030
2    853.100710
3    836.197138
4    739.981106
Name: gdpPercap, dtype: float64

In [71]:
#11 how to select the first, 100th, 1000th rows by three method

import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

method_1 = df.iloc[0, :]
method_1_1 = df.iloc[100, :]
method_1_2 = df.iloc[1000, :]

#print(method_1)

method_2 = df.loc[999]

#print(method_2)


#method_3 =

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [81]:
#12 get 43rd country in our data using .loc .iloc .ix
import pandas as pd
df=pd.read_csv('../04_gap-merged.tsv',sep='\t')

iloc = df.iloc[0:43, :]

loc = df.loc[0:43, :]


print(iloc.head(4))
print()
print(loc.head(40))

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735
20      Albania    Europe  1992   71.581   3326498  2497.437901
21      Albania    Europe  1997   72.950   3428038  3193.054604
22      Albania    Europe  2002   75.651   3508512  4604.211737
23      Albania    Europe  2007   76.423   3600523  5937.029526
24      Algeria    Africa  1952   43.077   9279525  2449.008185
25      Algeria    Africa  1957   45.685  10270856  3013.976023
26      Algeria    Africa  1962   48.303  11000948  2550.816880
27      Algeria    Africa  1967   51.407  12760499  3246.991771
28      Algeria    Africa  1972   54.518  14760787  4182.663766
29      Algeria    Africa  1977   58.014  17152804  4910.416756
30      Algeria    Africa  1982   61.368  20033753  5745.160213
31      Algeria    Africa  1987   65.799  23254956  5681.358539
32      Algeria    Africa  1992   67.744  26298373  5023.216647
33      Algeria    Africa  1997   69.152  29072015  4797.295051
34      Algeria    Africa  2002   70.994  31287142  5288.040382
35      Algeria    Africa  2007   72.301  33333216  6223.367465
36       Angola    Africa  1952   30.015   4232095  3520.610273
37       Angola    Africa  1957   31.999   4561361  3827.940465
38       Angola    Africa  1962   34.000   4826015  4269.276742
39       Angola    Africa  1967   35.985   5247469  5522.776375

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735
20      Albania    Europe  1992   71.581   3326498  2497.437901
21      Albania    Europe  1997   72.950   3428038  3193.054604
22      Albania    Europe  2002   75.651   3508512  4604.211737
23      Albania    Europe  2007   76.423   3600523  5937.029526
24      Algeria    Africa  1952   43.077   9279525  2449.008185
25      Algeria    Africa  1957   45.685  10270856  3013.976023
26      Algeria    Africa  1962   48.303  11000948  2550.816880
27      Algeria    Africa  1967   51.407  12760499  3246.991771
28      Algeria    Africa  1972   54.518  14760787  4182.663766
29      Algeria    Africa  1977   58.014  17152804  4910.416756
30      Algeria    Africa  1982   61.368  20033753  5745.160213
31      Algeria    Africa  1987   65.799  23254956  5681.358539
32      Algeria    Africa  1992   67.744  26298373  5023.216647
33      Algeria    Africa  1997   69.152  29072015  4797.295051
34      Algeria    Africa  2002   70.994  31287142  5288.040382
35      Algeria    Africa  2007   72.301  33333216  6223.367465
36       Angola    Africa  1952   30.015   4232095  3520.610273
37       Angola    Africa  1957   31.999   4561361  3827.940465
38       Angola    Africa  1962   34.000   4826015  4269.276742
39       Angola    Africa  1967   35.985   5247469  5522.776375